<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Ex 02</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<td>Region</td>
				<td>Hotels</td>
			</tr>
		</thead>
		<tbody>
		
			<tr>
				<td>Southern</td>
				<td>
					<table>
						
						<tr>
							<td>A hotel</td>
							<td>AAA</td>
							<td>AA</td>
							<td>AA-AA</td>
						</tr>
						
						<tr>
							<td>B hotel</td>
							<td>BBB</td>
							<td>BB</td>
							<td>BB-BB</td>
						</tr>
						
						<tr>
							<td>C hotel</td>
							<td>CCC</td>
							<td>CC</td>
							<td>CC-CC</td>
						</tr>
						
					</table>
				</td>
			</tr>
		
			<tr>
				<td>Northern</td>
				<td>
					<table>
						
						<tr>
							<td>A hotel</td>
							<td>AAA</td>
							<td>AA</td>
							<td>AA-AA</td>
						</tr>
						
						<tr>
							<td>B hotel</td>
							<td>BBB</td>
							<td>BB</td>
							<td>BB-BB</td>
						</tr>
						
						<tr>
							<td>C hotel</td>
							<td>CCC</td>
							<td>CC</td>
							<td>CC-CC</td>
						</tr>
						
					</table>
				</td>
			</tr>
		
			<tr>
				<td>Central</td>
				<td>
					<table>
						
						<tr>
							<td>A hotel</td>
							<td>AAA</td>
							<td>AA</td>
							<td>AA-AA</td>
						</tr>
						
						<tr>
							<td>B hotel</td>
							<td>BBB</td>
							<td>BB</td>
							<td>BB-BB</td>
						</tr>
						
						<tr>
							<td>C hotel</td>
							<td>CCC</td>
							<td>CC</td>
							<td>CC-CC</td>
						</tr>
						
					</table>
				</td>
			</tr>
		
		</tbody>
	</table>

</body>
</html>