<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Date/Time format</title>
</head>
<body>
	
	<p>Time without formatting {{.}}</p>
	
	<p>Time with formatting (pipelined) {{ . | fdateDYM}}</p>

</body>
</html>