<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <table>
        <thead>
            <tr>
                <td>Academic Year</td>
                <td>Semester</td>
                <td>Courses</td>
            </tr>
        </thead>
        <tbody>
            
                <tr>
                    <td>2020-2021</td>
                    <td>Fall</td>
                    <td>
                        <table>
                            
                            <tr>
                                <td>CSCI-40</td>
                                <td>Introduction to Programming in Go</td>
                                <td>4</td>
                            </tr>
                            
                            <tr>
                                <td>CSCI-130</td>
                                <td>Introduction to Web Programming with Go</td>
                                <td>4</td>
                            </tr>
                            
                            <tr>
                                <td>CSCI-140</td>
                                <td>Mobile Apps Using Go</td>
                                <td>4</td>
                            </tr>
                            
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>2020-2021</td>
                    <td>Spring</td>
                    <td>
                        <table>
                            
                            <tr>
                                <td>CSCI-50</td>
                                <td>Advanced Go</td>
                                <td>5</td>
                            </tr>
                            
                            <tr>
                                <td>CSCI-190</td>
                                <td>Advanced Web Programming with Go</td>
                                <td>5</td>
                            </tr>
                            
                            <tr>
                                <td>CSCI-191</td>
                                <td>Advanced Mobile Apps With Go</td>
                                <td>5</td>
                            </tr>
                            
                        </table>
                    </td>
                </tr>
            
                <tr>
                    <td>2021-2022</td>
                    <td>Fall</td>
                    <td>
                        <table>
                            
                            <tr>
                                <td>CSCI-40</td>
                                <td>Introduction to Programming in Go</td>
                                <td>4</td>
                            </tr>
                            
                            <tr>
                                <td>CSCI-130</td>
                                <td>Introduction to Web Programming with Go</td>
                                <td>4</td>
                            </tr>
                            
                            <tr>
                                <td>CSCI-140</td>
                                <td>Mobile Apps Using Go</td>
                                <td>4</td>
                            </tr>
                            
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>2021-2022</td>
                    <td>Spring</td>
                    <td>
                        <table>
                            
                            <tr>
                                <td>CSCI-50</td>
                                <td>Advanced Go</td>
                                <td>5</td>
                            </tr>
                            
                            <tr>
                                <td>CSCI-190</td>
                                <td>Advanced Web Programming with Go</td>
                                <td>5</td>
                            </tr>
                            
                            <tr>
                                <td>CSCI-191</td>
                                <td>Advanced Mobile Apps With Go</td>
                                <td>5</td>
                            </tr>
                            
                        </table>
                    </td>
                </tr>
            
        </tbody>

    </table>

</body>
</html>