<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Index</title>
</head>
<body>
	<ul>
		<li><a href="/">Index</a></li>
		<li><a href="/dog">Dog</a></li>
		<li><a href="/me/">Me</a></li>
	</ul>
	<h1>Dog</h1>
</body>
</html>