<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Predefined global functions</title>
</head>
<body>
	
{{ index .Words 2 }}
{{ index .Words 0 }}
{{ index .Words 4 }}
{{ .Lname }}

<!-- 

	index
	a func you can use in a template
	it is a predefined global function

	index
	Returns the result of indexing its first argument by the
	following arguments. Thus "index x 1 2 3" is, in Go syntax,
	x[1][2][3]. Each indexed item must be a map, slice, or array.

-->

</body>
</html>